---
import Header from '../components/common/Header.astro';
import GetInTouch from '../components/common/HomeGetInTouch.astro'
import BannerIntro from '../components/home/BannerIntro.astro';
import Banner from '../components/home/Banner.astro';
import Footer from '../components/common/Footer.astro';
import Layout from '../layouts/Layout.astro';
import AssetManagement from '../components/home/AssetManagement.astro';
import Testimonials from '../components/home/Testimonials.astro';
import TestimonialsLeader from '../components/home/TestimonialsLeader.astro'
import Insights from '../components/home/Insights.astro';
import MilestonesMarket from '../components/home/MilestonesMarket.astro';
import Transforming from '@/components/home/Transforming.astro';
import DrivingImpact from '@/components/home/DrivingImpact.astro';
import GlobalCapital from '@/components/home/GlobalCapital.astro';
import TailoredCapital from '@/components/home/TailoredCapital.astro';
import SwiperSlider from "../components/common/SwiperSlider";
import DrivingImpactSwiper from "../components/common/DrivingImpactSwiper";
import FooteerMobile from "../components/common/FooterMobile.astro"

const slides = [
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" }
];

const slides1 = [
  { id: "01", title: "Invest", desc: "Access the right funding, at the right time, with tailored structures to scale your business seamlessly." },
  { id: "02", title: "Borrow", desc: "Access the right funding, at the right time, with tailored structures to scale your business seamlessly." },
  { id: "03", title: "Strategize", desc: "Access the right funding, at the right time, with tailored structures to scale your business seamlessly." },
  { id: "04", title: "Tech", desc: "Access the right funding, at the right time, with tailored structures to scale your business seamlessly." },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	<Header />
	<BannerIntro />
	<GetInTouch/>
	<Banner />
	<Transforming />

	<section class="py-6 sm:hidden block">
		<div data-reveal class="fade-up ">
			<DrivingImpactSwiper slides={slides1} client:only="react" />
		</div>
	</section> 

	<DrivingImpact />
	<TailoredCapital />
	<GlobalCapital />	
	<AssetManagement />
	 <!-- <section class="py-12">
		
		<div data-reveal class="fade-up testimonials">
			<SwiperSlider slides={slides} client:only="react" />
		</div>
	</section>  -->
	<Insights />
	<!--  <Testimonials />  -->
	<TestimonialsLeader/>
	<MilestonesMarket/>



	<Footer/>
	<FooteerMobile/>
</Layout>
