---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[70px] pt-[40px] px-[20px]">
  <div class="container mx-auto">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 md:px-4"
    >
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-2/12"
      >
        Key features
      </h2>
      <div class="w-full md:w-10/12">
        <div class="w-full 1/2">
          <div class="number_fill text-sm">01</div>
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
                <h3 class="text-lg uppercase text-[17px] font-semibold mt-4">Flexible financing across growth cycles</h3>
                <div class="mt-2 mb-5 desc text-sm md:text-lg">
                  From working capital gaps to expansion projects, our product suite covers diverse requirements — helping businesses access capital when they need it most.
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

