 ---
import LogoShape from "../../../public/Vivrithi_logo.svg";
---
<a 
  href="/contact" 
  class="contact_cta getintouch-fix flex items-center gap-2 text-white uppercase hover:text-blue-600 transition mb-2"
><span data-text="GET IN TOUCH">
  GET IN TOUCH</span>
  <img src={LogoShape.src} alt="Vivrithi" class="w-5 h-5" />
</a>
<style>
    .getintouch-fix{
        position: fixed;
        right: -82px;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);
        padding: 10px 20px;
    }   
    
</style>